<p>222text-text works!!!</p>
<!-- <div class="d3-chart" #chart></div>
<div class="svg"></div> -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <button type="button" (click)= "buildDayReport()" class="btn btn-outline-primary mt-1 ml-1">Create 24 hours report</button>
            <button type="button" (click)= "buildMonthReport()" class="btn btn-outline-primary mt-1 ml-1">Create 31 days report</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" (click)="setElementRefTest()" class="btn btn-outline-primary mt-1 ml-1">Set element ref</button>
            <button type="button" (click)="setDataForBarChartTest()"class="btn btn-outline-primary mt-1 ml-1">Set data for bar chart</button>
            <button type="button" class="btn btn-outline-primary mt-1 ml-1">Set data for graph chart</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d3-chart" #chart></div>
        </div>
    </div>
</div>