/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
.blue {
    color: blue;
  }
  .bar--positive {
  fill: steelblue;
  }
  
  .bar--negative {
  fill: darkorange;
  }

  .bar:hover {
    fill: rgb(12, 151, 8);
    transition: fill .5s ease-in-out;
  }
  
  .axis text {
  font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
  fill: none;
  stroke: rgb(216, 46, 46);
  shape-rendering: crispEdges;
  }
  
  /* .axis-x {
    fill: darkorange;
    stroke: darkorange;
  } */