/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
/* .blue {
    color: blue;
  }
  .bar--positive {
  fill: steelblue;
  }
  
  .bar--negative {
  fill: darkorange;
  }

  .bar--negative:hover {
    fill: rgb(212, 112, 30);
    transition: all .3s ease-in;
  }
  .bar--positive:hover {
    fill: rgb(30, 94, 212);
    transition: all .3s ease-in;
  }
  
  .axis text {
  font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
  fill: none;
  stroke: rgb(216, 46, 46);
  shape-rendering: crispEdges;
  }   */
  
  /* text {
    fill: #999;
  } */
  /* .axis-x,
  .axis-y {
    fill: darkorange;
    stroke: rgba(4, 32, 14, 0.356);
  } */

.axis path {
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
}
.tick line {
  stroke: grey;
  shape-rendering: crispEdges;
}